html, body {
    margin: 0;
    padding: 0;
}

* {
    color: #ffff33; /*Terminal Amber*/
        /* #33ff66;   Terminal Green */
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
}

* mark {
    background: #ffff33;
    color: #000;
}

body {
    background: black;
}

#console-buffer {
    list-style: none;
    padding: 0 20px;
}

.console-buffer-entry {
    padding: 0;
}

#console-input-text {
    position: absolute;
    left: -1000px;
}

.console-input {
    padding: 0 20px;
}

#console-input-display {
    background: none;
    border: none;
    outline: none;
    word-wrap: break-word;
    padding: 0;
}

#console-input-display::before {
    content: "> ";
    white-space: pre;
}
