body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    overflow: hidden;
}

code {
    font-family: "Courier New", monospace;
}

#grid {
    margin: auto;
    border: solid 1px grey;
    border-radius: 10px;
}

td {
    width: 80px;
    height: 80px;
    color: white;
    transition: all 0.2s ease-in;
    border-radius: 10px;
    border: solid 1px grey;
    text-align: center;
    color: black;
    font-size: 50px;
}

td:hover {
    box-shadow: yellow 0 0 2px 2px;
}

#head {
    text-align: center;
}

#head h3 {
    display: inline-block;
    padding: 0 8px;
}
