html, body {
    margin: 0;
    padding: 0;
    background: #1e1e1e;
    height: 100%;
}

.body-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.console-wrapper {
    background: #000000;
    color: #ffffff;
    width: 1280px;
    height: 720px;
    font-size: 16px;
}

.console-wrapper mark {
    background: #ffffff;
    color: #000000;
}

.console-line * {
    color: #ffffff;
}

.console-cursor {
    height: 20px;
    background: #ffffff;
}

