body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    overflow: hidden;
}

code {
    font-family: "Courier New", monospace;
}

#result {
    display: block;
    font-size: 40px;
}

#head {
    text-align: center;
}

#head h3 {
    display: inline-block;
    padding: 0 8px;
}

#game {
    display: none;
    margin: auto;
}
